<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{userdata.fullname}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      User ID: {{userdata.id}}<br>
      Phone number: {{userdata.phoneno}} <br><br>
      <ion-button color="primary" (click)="openeditcustmodal()">Update data</ion-button>
    </ion-card-content>
  </ion-card> <br><br>
  <ion-card>
    <ion-card-content>
      This app still in development. More features coming soon
    </ion-card-content>
  </ion-card>
</ion-content>
