<ion-header>
  <ion-toolbar>
    <ion-title>Order #182</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-subtitle>Status: Preparing</ion-card-subtitle>
      <ion-card-title>Total: RM0.00</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip>
        <ion-label color="primary">Message</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="cardcontentsetting">
      <ion-grid class="gridsetting">
        <ion-row class="tableheader">
          <ion-col>
            Customer
          </ion-col>
        </ion-row>
        <ion-row class="tableheader">
          <ion-col>
            Name
          </ion-col>
          <ion-col>
            Wan Asyraaf
          </ion-col>
        </ion-row>
        <ion-row class="tableheader">
          <ion-col>
            Phone no
          </ion-col>
          <ion-col>
            0111092989
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <h1>Items</h1>
  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <h3 class="titleitem">{{item.itemname}}</h3>
      <ion-progress-bar color="{{item.progressbarcolor}}" value="{{item.progressbar}}"></ion-progress-bar>
      <ion-card-subtitle>Status: {{item.statusprint}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="cardcontentsetting">
      <ion-grid class="gridsetting">
        <ion-row class="tableheader">
          <ion-col size="3">
            Name
          </ion-col>
          <ion-col>
            <b>{{item.itemname}}</b>
          </ion-col>
        </ion-row>
        <ion-row class="tableheader">
          <ion-col size="3">
            Paper size
          </ion-col>
          <ion-col>
            {{item.papertype}}
          </ion-col>
        </ion-row>
        <ion-row class="tableheader">
          <ion-col size="4">
            Color Quantity
          </ion-col>
          <ion-col>
            {{item.colorquantity}}
          </ion-col>
        </ion-row>
        <ion-row class="tableheader">
          <ion-col size="4">
            Black Quantity
          </ion-col>
          <ion-col>
            {{item.blackwhitequantity}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <p style="text-align: right;" *ngIf="viewimagebutton(item.statusprint)"><ion-button color="primary" size="small">View Image</ion-button></p>
    </ion-card-content>
  </ion-card>
</ion-content>