<ion-header>
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title>{{order.date}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{order.printabout}}
      <br>
      <p style="text-align:right;">
        <ion-button color="primary" [routerLink]="['/orderitem/', order.orderid]">View Order</ion-button>
      </p>
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="checkOrderExists()">
    <ion-card-header>
      <ion-card-title>No Order</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Contact printer to create order  
    </ion-card-content>
  </ion-card>
</ion-content>
