<ion-header>
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title>{{order.date}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{order.printabout}}
      <br>
      <p style="text-align:right;">
        <ion-chip [routerLink]="['/orderitem/', order.orderid]">
          <ion-label color="warning">View order</ion-label>
        </ion-chip>
      </p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
