<ion-header>
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title>Active Order</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Document.Pdf
      <br>
      <p style="text-align:right;">
        <ion-chip>
          <ion-label color="warning">View order</ion-label>
        </ion-chip>
      </p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
